.form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .mat-field{
    width: 80%;
  }

  *{
    margin: 0;
    padding: 0;
  }